@font-face {
	font-family: PalladioURW;
	src: url(fonts/palladiourw_reg.woff2);
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: PalladioURW;
	src: url(fonts/palladiourw_bol.woff2);
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: PalladioURW;
	src: url(fonts/palladiourw_regita.woff2);
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

body {
	font-family: PalladioURW;
	font-size: large;
	letter-spacing: .01em;
	margin-left: auto;
	margin-right: auto;
	background: aliceblue;
	width: 700px;
}

h1 {
	margin-top: 0;
	margin-bottom: .1em;
}

h1, h2 {
	letter-spacing: .025em;
	clear: both;
}

header {
	display: grid;
	grid-template-columns: auto;
	align-items: center;
	column-gap: .5em;
	float: right;
	padding: .2em;
	margin-left: 1.0em;
	margin-bottom: .8em;
}

img.profile {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px;
	background-color: #eee;
}

@media screen and (max-width: 739px) {
	body {
		width: auto;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media screen and (max-width: 499px) {
	header {
		grid-template-columns: auto auto;
		float: none;
		margin: 0;
		width: 100%;
		padding: 0;
		padding-top: .2em;
	}
	
	img.profile {
		height: 125px;
	}
}

@media screen and (max-width: 299px) {
	header {
		grid-template-columns: auto;
	}
}

a {
	color: #000fa0;
}

a:not(:hover) {
	text-decoration: none;
}

ol, ul {
	padding-left: 1.25em;
}

ol > li {
	padding-left: .25em;
	padding-top: .5em;
	padding-bottom: .5em;
}

span.note {
	color: #404040;
}

span.class > span:nth-child(2) {
	display: none;
}

.icon {
	display: inline-block;
	width: .85em;
	height: .85em;
	position: relative;
	top: .125em;
}

.icon:hover .icon-mono {
	opacity: 0;
}

.icon:hover .icon-color {
	opacity: 1;
}

.icon-mono,
.icon-color {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.icon-color {
	opacity: 0;
}
